
.flow-tabs-nav-list {
    display: flex;
    margin: 0 -15px;
}

.flow-tabs {
    border-bottom: 1px solid #E8E8E8;
}

.flow-tabs-nav {
    display: flex;
    .flow-tabs-nav-wrap {
        flex: 1;
    }
}

.flow-tabs-tab {
    margin: 0 15px;
    padding-bottom: 7px;
    &-active {
        position: relative;
        color: #578AEC;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #578AEC;
        }
    }
}

.flow-tabs-tab-btn {
    font-weight: 500;
    font-size: 15px;
    outline: none;
    font-family: "Microsoft YaHei";
    cursor: pointer;
}